# IMPORTS

In [135]:
import pandas as pd
import csv
import numpy as np

# READ IN AND TRANSFORM DATA

In [178]:
books = pd.read_csv('data\explicit_ratings.csv')
books = books.rename(columns = {'genre.x': 'genre_x', 'genre.y': 'genre_y', 'tag_name.x': 'tag_name_x',  'tag_name.y': 'tag_name_y'})
books.describe()

,Unnamed: 0,user_id,book_id,rating,goodreads_book_id,tag_id,count,best_book_id,work_id,books_count,...,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,9976.000000,9976.000000,9976.000000,9976.000000,9.976000e+03,9976.000000,9976.000000,9.976000e+03,9.976000e+03,9976.000000,...,9955.000000,9976.000000,9.976000e+03,9.976000e+03,9976.000000,9976.000000,9976.000000,9976.000000,9.976000e+03,9.976000e+03
mean,4987.500000,6731.231355,4998.718625,3.883019,5.261925e+06,18469.374198,751.103749,5.468939e+06,8.642673e+06,75.821271,...,1981.950276,4.001930,5.398192e+04,5.967176e+04,2917.448877,1345.305934,3111.690257,11478.874800,1.996658e+04,2.376932e+04
std,2879.967477,10177.014619,2887.358263,0.970982,7.573804e+06,6675.902734,1740.292414,7.826389e+06,1.174485e+07,170.656903,...,152.755935,0.254343,1.573247e+05,1.677524e+05,6114.623605,6642.021432,9721.680691,28547.752122,5.142984e+04,7.973730e+04
min,0.000000,1.000000,1.000000,1.000000,1.000000e+00,1540.000000,2.000000,1.000000e+00,8.700000e+01,1.000000,...,-1750.000000,2.470000,2.716000e+03,5.510000e+03,3.000000,11.000000,30.000000,323.000000,7.500000e+02,7.540000e+02
25%,2493.750000,370.000000,2497.750000,3.000000,4.620050e+04,11305.000000,117.000000,4.776750e+04,1.009040e+06,23.000000,...,1990.000000,3.850000,1.357150e+04,1.544300e+04,695.750000,196.000000,656.000000,3113.000000,5.408750e+03,5.327500e+03
50%,4987.500000,1948.000000,4998.500000,4.000000,3.947275e+05,20939.000000,338.000000,4.240925e+05,2.721782e+06,40.000000,...,2004.000000,4.020000,2.117050e+04,2.386850e+04,1402.500000,391.000000,1163.000000,4896.500000,8.274000e+03,8.837500e+03
75%,7481.250000,8865.000000,7498.250000,5.000000,9.376833e+06,23471.000000,778.000000,9.635536e+06,1.451529e+07,67.000000,...,2011.000000,4.180000,4.108250e+04,4.596325e+04,2736.250000,886.000000,2354.500000,9298.250000,1.604700e+04,1.733225e+04
max,9975.000000,53331.000000,10000.000000,5.000000,3.328864e+07,30386.000000,47478.000000,3.553423e+07,5.639960e+07,3455.000000,...,2017.000000,4.820000,4.780653e+06,4.942365e+06,155254.000000,456191.000000,436802.000000,793319.000000,1.481305e+06,3.011543e+06

In [179]:
print('number of features in the original dataset: ' + str(len(books.columns)))
print('\n')
print(books.columns)

print('\n\n')

print('number of languages in the original dataset: ' + str(len(books['language_code'].unique())))
print('\n')
print(books['language_code'].unique())

number of features in the original dataset: 32


Index(['Unnamed: 0', 'user_id', 'book_id', 'rating', 'goodreads_book_id',
       'tag_id', 'count', 'tag_name_x', 'genre_x', 'tag_name_y', 'genre_y',
       'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'authors',
       'original_publication_year', 'original_title', 'title', 'language_code',
       'average_rating', 'ratings_count', 'work_ratings_count',
       'work_text_reviews_count', 'ratings_1', 'ratings_2', 'ratings_3',
       'ratings_4', 'ratings_5', 'image_url', 'small_image_url'],
      dtype='object')



number of languages in the original dataset: 26


['eng' 'en-US' 'en-CA' nan 'spa' 'en-GB' 'fre' 'nl' 'ara' 'por' 'ger'
 'nor' 'jpn' 'en' 'vie' 'ind' 'pol' 'tur' 'dan' 'fil' 'ita' 'per' 'swe'
 'rum' 'mul' 'rus']

In [180]:
# shit to drop
feats_to_drop = ['tag_name_x', 'tag_name_y', 'genre_y', 'best_book_id', 'small_image_url']
good_languages = ['eng', 'en-US', 'en-CA', 'en-GB']

In [181]:
books.drop(feats_to_drop, axis =1, inplace = True)
books = books.loc[books['language_code'].isin(good_languages)]

In [182]:
#check after dropping 
print('number of features in the original dataset: ' + str(len(books.columns)))
print('\n')
print(books.columns)

print('\n\n')

print('number of languages in the original dataset: ' + str(len(books['language_code'].unique())))
print('\n')
print(books['language_code'].unique())

number of features in the original dataset: 27


Index(['Unnamed: 0', 'user_id', 'book_id', 'rating', 'goodreads_book_id',
       'tag_id', 'count', 'genre_x', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url'],
      dtype='object')



number of languages in the original dataset: 4


['eng' 'en-US' 'en-CA' 'en-GB']

# GET UNIQUE GENRES

In [183]:
genre = books['genre_x'].unique()
print(genre)

['fantasy' 'historical' 'romance' 'literary-fiction' 'mystery' 'scifi'
 'nonfiction' 'suspense' 'action' 'humour' 'paranormal' 'drama' 'horror'
 'adult' 'philosophy' 'crime']

# SPECIFY CLASS - GENRE RELATIONSHIP

In [184]:
# will change this after we talk to expert
class1 = ['fantasy', 'mystery', 'scifi', 'literary-fiction']
class2 = ['literary-fiction', 'action', 'fantasy']
class3 = ['literary-fiction', 'action', 'fantasy']
class4 = ['literary-fiction', 'action', 'fantasy']
class5 = ['literary-fiction', 'action', 'fantasy']
class6 = ['literary-fiction', 'action', 'fantasy']
class7 = ['literary-fiction', 'action', 'fantasy']
class8 = ['literary-fiction', 'action', 'fantasy']
class9 = ['literary-fiction', 'action', 'fantasy']

In [208]:
# class1_books = books.loc[books['genre_x'].isin(class1)]
# class2_books = books.loc[books['genre_x'].isin(class2)]
# class3_books = books.loc[books['genre_x'].isin(class3)]
# class4_books = books.loc[books['genre_x'].isin(class4)]
# class5_books = books.loc[books['genre_x'].isin(class5)]
# class6_books = books.loc[books['genre_x'].isin(class6)]
# class7_books = books.loc[books['genre_x'].isin(class7)]
# class8_books = books.loc[books['genre_x'].isin(class8)]
# class9_books = books.loc[books['genre_x'].isin(class9)]
class1_books = pd.DataFrame()
class2_books = pd.DataFrame()
class3_books = pd.DataFrame()
class4_books = pd.DataFrame()
class5_books = pd.DataFrame()
class6_books = pd.DataFrame()
class7_books = pd.DataFrame()
class8_books = pd.DataFrame()
class9_books = pd.DataFrame()

In [209]:
for i in class1: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class1_books = class1_books.append(j, ignore_index = True)
    
for i in class2: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class2_books = class2_books.append(j, ignore_index = True)
    
for i in class3: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class3_books = class3_books.append(j, ignore_index = True)

for i in class4: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class4_books = class4_books.append(j, ignore_index = True)
    
for i in class5: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class5_books = class5_books.append(j, ignore_index = True)
    
for i in class6: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class6_books = class6_books.append(j, ignore_index = True)
    
for i in class7: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class7_books = class7_books.append(j, ignore_index = True)

for i in class8: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class8_books = class8_books.append(j, ignore_index = True)
    
for i in class9: 
    j = books.loc[books['genre_x'] == i].sort_values(['genre_x','ratings_count'], ascending=[False, False]).drop_duplicates(['book_id']).reset_index(drop=True)
    j = j.head(5)
    class9_books = class9_books.append(j, ignore_index = True)

In [212]:
class1_books.to_csv('data/books_to_display/class1.csv')
class2_books.to_csv('data/books_to_display/class2.csv')
class3_books.to_csv('data/books_to_display/class3.csv')
class4_books.to_csv('data/books_to_display/class4.csv')
class5_books.to_csv('data/books_to_display/class5.csv')
class6_books.to_csv('data/books_to_display/class6.csv')
class7_books.to_csv('data/books_to_display/class7.csv')
class8_books.to_csv('data/books_to_display/class8.csv')
class9_books.to_csv('data/books_to_display/class9.csv')